//devcon.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.2c91f8e8-d5f4-42a0-ade9-01f6ffb9d4f5/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@suriya:registry=https://devcon.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.2c91f8e8-d5f4-42a0-ade9-01f6ffb9d4f5/contents/release/npm 